In [ ]:
import numpy as np
import pandas as pd

path1 = "/content/drive/MyDrive/AMEX/663e2b6d54457_train_data_with_samplefeatures.csv"
path_final = "/content/drive/MyDrive/AMEX/6644a1e287df6_test_data_with_samplefeatures.csv"
path2 = "/content/drive/MyDrive/AMEX/664389efa0868_match_level_scorecard.csv"
path3 = "/content/drive/MyDrive/AMEX/663e2b548c98c_batsman_level_scorecard.csv"
path4 = "/content/drive/MyDrive/AMEX/663e2b2c60743_bowler_level_scorecard.csv"

train_data = pd.read_csv(path1)
match_level_data = pd.read_csv(path2)
batsman_data = pd.read_csv(path3)
bowler_data =pd.read_csv(path4)
test_data = pd.read_csv(path_final)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
full_data = test_data

#preparing bowler data

In [ ]:
bowler_data = bowler_data.groupby('bowler_id').agg({

    'runs': 'mean',
    'economy': 'mean',
    # 'inning': 'first',
    'wicket_count': 'mean',
    # 'match_dt': 'first',
    'balls_bowled': 'mean',
    'Fours': 'mean',
    'Sixes': 'mean',
    'maiden':'mean',
    'wides':'mean',
    'noballs':'mean',
    'dots':'mean',
    # 'is_bowler_captain':'first',
    # 'is_bowler_keeper':'first',
    # 'bowler_details':'first'
}).reset_index()

In [ ]:
bowler_data['bowling_strike_rate'] = bowler_data['balls_bowled'] / bowler_data['wicket_count']
bowler_data['bowling_average'] = bowler_data['runs'] / bowler_data['wicket_count']
bowler_data['boundary_rate'] = (bowler_data['Fours'] + bowler_data['Sixes']) / bowler_data['balls_bowled']
bowler_data['dot_ball_percent'] = bowler_data['dots'] / bowler_data['balls_bowled']
bowler_data['extras'] = bowler_data['wides'] + bowler_data['noballs']
bowler_data['maiden_over_percent'] = bowler_data['maiden'] / bowler_data['balls_bowled']

In [ ]:
bowler_data = bowler_data.drop(columns=['balls_bowled' , 'runs' , 'wicket_count' ,'Fours' ,'Sixes' ,'dots' ,'wides' ,'noballs' ,'maiden'])

In [ ]:
bowler_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1541 entries, 0 to 1540
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   bowler_id            1541 non-null   float64
 1   economy              1541 non-null   float64
 2   bowling_strike_rate  1541 non-null   float64
 3   bowling_average      1541 non-null   float64
 4   boundary_rate        1541 non-null   float64
 5   dot_ball_percent     1541 non-null   float64
 6   extras               1541 non-null   float64
 7   maiden_over_percent  1541 non-null   float64
dtypes: float64(8)
memory usage: 96.4 KB

In [ ]:
corr_matrix_bowler = bowler_data.corr()
corr_matrix_bowler['economy'].sort_values(ascending = False)

economy                1.000000
boundary_rate          0.870857
bowling_average        0.376808
extras                 0.135325
bowling_strike_rate    0.100497
bowler_id              0.046699
maiden_over_percent   -0.179986
dot_ball_percent      -0.584599
Name: economy, dtype: float64

In [ ]:
# bowler_data['overs_bowled'] = bowler_data['balls_bowled'] / 6
# bowler_data['player_metric'] = (
#     (bowler_data['runs'] * 1.0 +
#     bowler_data['wicket_count'] * 0.332695 +
#     (1 / bowler_data['economy']) * 0.263286 +
#     (bowler_data['dots'] / bowler_data['balls_bowled']) * 0.417753 +
#     (bowler_data['maiden'] / bowler_data['overs_bowled']) * -0.068966 +
#     (bowler_data['Fours'] / bowler_data['balls_bowled']) * 0.719193 +
#     (bowler_data['Sixes'] / bowler_data['balls_bowled']) * 0.630981 +
#     (bowler_data['wides'] / bowler_data['balls_bowled']) * 0.343104 +
#     (bowler_data['noballs'] / bowler_data['balls_bowled']) * 0.224072)/100
# )

In [ ]:
# columns_to_drop_bowler_data = ['overs_bowled','balls_bowled','runs','wicket_count','economy','dots','maiden'
# ,'Fours','Sixes','wides','noballs']

# # Drop columns that exist in the dataframe
# bowler_data = bowler_data.drop(columns=[col for col in columns_to_drop_bowler_data if col in bowler_data.columns])

In [ ]:
# bowler_data.head()

#preparing batsman data

In [ ]:
batsman_data = batsman_data.groupby('batsman_id').agg({

    # 'batsman_details':'first',
    # 'is_batsman_captain':'first',
    # 'is_batsman_keeper':'first',
    # 'inning': 'first',
    'runs': 'mean',
    'balls_faced': 'mean',
    'over_faced_first': 'mean',
    'strike_rate': 'mean',
    # 'match_dt': 'first',
    'Fours': 'mean',
    'Sixes': 'mean'
}).reset_index()

batsman_data['Fours'] = batsman_data['Fours'].fillna(0)
batsman_data['Sixes'] = batsman_data['Sixes'].fillna(0)

In [ ]:
batsman_data['batting_average'] = batsman_data['runs'] / batsman_data['balls_faced']
batsman_data['boundary_percent'] = (batsman_data['Fours']+batsman_data['Sixes'])/batsman_data['balls_faced']
batsman_data['overs_perform'] = batsman_data['runs']/batsman_data['over_faced_first']

In [ ]:
batsman_data = batsman_data.drop(columns=['runs','Fours','Sixes','balls_faced','over_faced_first'])

In [ ]:
batsman_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2118 entries, 0 to 2117
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   batsman_id        2118 non-null   float64
 1   strike_rate       2118 non-null   float64
 2   batting_average   2118 non-null   float64
 3   boundary_percent  2118 non-null   float64
 4   overs_perform     2118 non-null   float64
dtypes: float64(5)
memory usage: 82.9 KB

In [ ]:
corr_matrix_batsman = batsman_data.corr()
corr_matrix_batsman['strike_rate'].sort_values(ascending = False)

strike_rate         1.000000
batting_average     0.928814
boundary_percent    0.524782
overs_perform       0.172134
batsman_id         -0.118263
Name: strike_rate, dtype: float64

In [ ]:
# batsman_data['player_metric'] = (
#     (batsman_data['runs'] * 1.0 +
#     (batsman_data['balls_faced'] / batsman_data.shape[0]) * 0.928975 +
#     (batsman_data['Fours'] / batsman_data['balls_faced']) * 0.823913 +
#     (batsman_data['Sixes'] / batsman_data['balls_faced']) * 0.650040 +
#     batsman_data['strike_rate'] * 0.452224 +
#     (batsman_data['over_faced_first'] / batsman_data.shape[0]) * -0.620774)/100
# )

In [ ]:
# columns_to_drop_batsman_data = ['runs','balls_faced','Fours','Sixes','strike_rate','over_faced_first']

# # Drop columns that exist in the dataframe
# batsman_data = batsman_data.drop(columns=[col for col in columns_to_drop_batsman_data if col in batsman_data.columns])

In [ ]:
# batsman_data.head()

#merging bowler and batsman data

In [ ]:
# # Rename columns to a common name 'player_id'
# bowler_data = bowler_data.rename(columns={'bowler_id': 'player_id'})
# batsman_data = batsman_data.rename(columns={'batsman_id': 'player_id'})

# # Merge the DataFrames on player_id
# merged_df = pd.merge(bowler_data, batsman_data, on='player_id', how='outer', suffixes=('_bowler', '_batsman'))

# # Calculate the mean of player_metric where ids are the same in both dataframes
# merged_df['player_metric'] = merged_df[['player_metric_bowler', 'player_metric_batsman']].mean(axis=1)

# # Fill NaN values in player_metric with values from either bowler_data or batsman_data
# merged_df['player_metric'] = merged_df['player_metric'].fillna(merged_df['player_metric_bowler']).fillna(merged_df['player_metric_batsman'])

# # Drop the intermediate columns
# player_data = merged_df.drop(columns=['player_metric_bowler', 'player_metric_batsman'])

In [ ]:
# player_data.info()

In [ ]:
total_players = pd.concat([bowler_data,batsman_data],ignore_index=True)

In [ ]:
total_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3659 entries, 0 to 3658
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   bowler_id            1541 non-null   float64
 1   economy              1541 non-null   float64
 2   bowling_strike_rate  1541 non-null   float64
 3   bowling_average      1541 non-null   float64
 4   boundary_rate        1541 non-null   float64
 5   dot_ball_percent     1541 non-null   float64
 6   extras               1541 non-null   float64
 7   maiden_over_percent  1541 non-null   float64
 8   batsman_id           2118 non-null   float64
 9   strike_rate          2118 non-null   float64
 10  batting_average      2118 non-null   float64
 11  boundary_percent     2118 non-null   float64
 12  overs_perform        2118 non-null   float64
dtypes: float64(13)
memory usage: 371.7 KB

In [ ]:
total_players['player_id'] = total_players['bowler_id'].fillna(total_players['batsman_id'])
total_players.drop(columns=['bowler_id','batsman_id'],inplace=True)

In [ ]:
total_players

,economy,bowling_strike_rate,bowling_average,boundary_rate,dot_ball_percent,extras,maiden_over_percent,strike_rate,batting_average,boundary_percent,overs_perform,player_id
0,9.371429,22.931034,33.896552,0.169925,0.311278,0.795918,0.000000,NaN,NaN,NaN,NaN,34061.0
1,10.000000,inf,inf,0.166667,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,37351.0
2,6.818182,19.200000,18.400000,0.083333,0.427083,0.090909,0.000000,NaN,NaN,NaN,NaN,41740.0
3,6.509615,18.774194,20.387097,0.091065,0.348797,0.384615,0.000000,NaN,NaN,NaN,NaN,49496.0
4,8.623721,15.315789,21.912281,0.176403,0.334479,0.720930,0.002291,NaN,NaN,NaN,NaN,55299.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.00,0.000000,9822322.0
3655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.00,0.000000,9822392.0
3656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,0.5,0.00,0.103627,9822413.0
3657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210.0,2.1,0.35,3.442623,9874052.0
3658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,220.0,2.2,0.40,0.758621,9883250.0

In [ ]:
player_data = total_players.fillna(0)

In [ ]:
player_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3659 entries, 0 to 3658
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   economy              3659 non-null   float64
 1   bowling_strike_rate  3659 non-null   float64
 2   bowling_average      3659 non-null   float64
 3   boundary_rate        3659 non-null   float64
 4   dot_ball_percent     3659 non-null   float64
 5   extras               3659 non-null   float64
 6   maiden_over_percent  3659 non-null   float64
 7   strike_rate          3659 non-null   float64
 8   batting_average      3659 non-null   float64
 9   boundary_percent     3659 non-null   float64
 10  overs_perform        3659 non-null   float64
 11  player_id            3659 non-null   float64
dtypes: float64(12)
memory usage: 343.2 KB

#defining functions:

In [ ]:
def process_roster_ids(roster_ids_str):
    # Split and convert to float
    roster_ids = [float(id_str) for id_str in roster_ids_str.split(':')]
    return roster_ids

In [ ]:
def determine_winner(team1_id, team2_id, runs_1, runs_2):
    winner_id = []

    for team1, team2, runs1, runs2 in zip(team1_id, team2_id, runs_1 , runs_2):
      if runs1>runs2:
        winner_id.append(team1)
      elif runs1<runs2:
        winner_id.append(team2)
      else:
        winner_id.append(team1)

    return winner_id

#preparing match_level_data

In [ ]:
team_id_map = {team: id_ for team, id_ in zip(match_level_data['team1'], match_level_data['team1_id'])}
team_id_map.update({team: id_ for team, id_ in zip(match_level_data['team2'], match_level_data['team2_id'])})

# Replace 'toss winner' elements with their corresponding IDs
match_level_data['toss winner'] = match_level_data['toss winner'].map(team_id_map)

match_level_data['toss decision'] = match_level_data['toss decision'].replace({'field': 0, 'bat': 1})

columns_to_drop_match_level_data = ['match id','team1','team2','winner','match_dt','venue','city','lighting','series_name',
                                    'season','ground_id','umpire1','umpire2','team1_id','team2_id','series_type','winner_id'
                                    ,'player_of_the_match_id','toss winner','toss decision','by']

# Drop columns that exist in the dataframe
match_level_data = match_level_data.drop(columns=[col for col in columns_to_drop_match_level_data if col in match_level_data.columns])

In [ ]:
match_level_data['processed_team1_roster_ids'] =match_level_data['team1_roster_ids'].apply(process_roster_ids)
match_level_data['processed_team2_roster_ids'] = match_level_data['team2_roster_ids'].apply(process_roster_ids)
match_level_data.drop(columns=['team1_roster_ids','team2_roster_ids'],inplace=True)

match_level_data = match_level_data.explode('processed_team1_roster_ids')
match_level_data = match_level_data.explode('processed_team2_roster_ids')

# Reset the index to get a clean DataFrame
match_level_data = match_level_data.reset_index(drop=True)

In [ ]:
match_level_data1 = match_level_data.groupby('processed_team1_roster_ids').agg({
    'win amount': 'mean',
    'inning1_runs' : 'mean',
    'inning2_runs' : 'mean',
    'inning1_wickets' : 'mean',
    'inning2_wickets' : 'mean',
    'inning1_balls' : 'mean',
    'inning2_balls' : 'mean'
}).reset_index()

In [ ]:
match_level_data2 = match_level_data.groupby('processed_team2_roster_ids').agg({
    'win amount': 'mean',
    'inning1_runs' : 'mean',
    'inning2_runs' : 'mean',
    'inning1_wickets' : 'mean',
    'inning2_wickets' : 'mean',
    'inning1_balls' : 'mean',
    'inning2_balls' : 'mean'
}).reset_index()

In [ ]:
match_level_data1 = match_level_data1.merge(player_data, left_on='processed_team1_roster_ids', right_on='player_id', how='left')

In [ ]:
match_level_data1.dropna(inplace=True)

In [ ]:
columns_to_drop_match_level_data1 = ['processed_team1_roster_ids']

# Drop columns that exist in the dataframe
match_level_data1 = match_level_data1.drop(columns=[col for col in columns_to_drop_match_level_data1 if col in match_level_data1.columns])

In [ ]:
match_level_data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3274 entries, 0 to 3711
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   win amount           3274 non-null   float64
 1   inning1_runs         3274 non-null   float64
 2   inning2_runs         3274 non-null   float64
 3   inning1_wickets      3274 non-null   float64
 4   inning2_wickets      3274 non-null   float64
 5   inning1_balls        3274 non-null   float64
 6   inning2_balls        3274 non-null   float64
 7   economy              3274 non-null   float64
 8   bowling_strike_rate  3274 non-null   float64
 9   bowling_average      3274 non-null   float64
 10  boundary_rate        3274 non-null   float64
 11  dot_ball_percent     3274 non-null   float64
 12  extras               3274 non-null   float64
 13  maiden_over_percent  3274 non-null   float64
 14  strike_rate          3274 non-null   float64
 15  batting_average      3274 non-null   float64
 16  boundary_percent     3274 non-null   float64
 17  overs_perform        3274 non-null   float64
 18  player_id            3274 non-null   float64
dtypes: float64(19)
memory usage: 511.6 KB

In [ ]:
match_level_data2 = match_level_data2.merge(player_data, left_on='processed_team2_roster_ids', right_on='player_id', how='left')
match_level_data2.dropna(inplace=True)
columns_to_drop_match_level_data2 = ['processed_team2_roster_ids']

# Drop columns that exist in the dataframe
match_level_data2 = match_level_data2.drop(columns=[col for col in columns_to_drop_match_level_data2 if col in match_level_data2.columns])

In [ ]:
match_level_data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3248 entries, 0 to 3677
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   win amount           3248 non-null   float64
 1   inning1_runs         3248 non-null   float64
 2   inning2_runs         3248 non-null   float64
 3   inning1_wickets      3248 non-null   float64
 4   inning2_wickets      3248 non-null   float64
 5   inning1_balls        3248 non-null   float64
 6   inning2_balls        3248 non-null   float64
 7   economy              3248 non-null   float64
 8   bowling_strike_rate  3248 non-null   float64
 9   bowling_average      3248 non-null   float64
 10  boundary_rate        3248 non-null   float64
 11  dot_ball_percent     3248 non-null   float64
 12  extras               3248 non-null   float64
 13  maiden_over_percent  3248 non-null   float64
 14  strike_rate          3248 non-null   float64
 15  batting_average      3248 non-null   float64
 16  boundary_percent     3248 non-null   float64
 17  overs_perform        3248 non-null   float64
 18  player_id            3248 non-null   float64
dtypes: float64(19)
memory usage: 507.5 KB

merging match_level_data

In [ ]:
# # Merge dataframes on 'player_id' with outer join
# merged_df = pd.merge(match_level_data1, match_level_data2, on='player_id', suffixes=('_1', '_2'), how='outer')

# # Identify common entries based on 'player_id'
# common_entries = merged_df.dropna(subset=['win amount_1', 'win amount_2'])

# # Calculate mean values for common entries
# # common_entries = common_entries.groupby('player_id').mean().reset_index()

# # Combine non-common entries (left-only and right-only entries)
# left_only = merged_df[merged_df['win amount_2'].isnull()].drop(columns=['win amount_2', 'inning1_runs_2', 'inning2_runs_2',
#                                                                         'inning1_wickets_2', 'inning2_wickets_2',
#                                                                         'player_metric_2','inning1_balls_2','inning2_balls_2'])
# right_only = merged_df[merged_df['win amount_1'].isnull()].drop(columns=['win amount_1', 'inning1_runs_1', 'inning2_runs_1',
#                                                                          'inning1_wickets_1', 'inning2_wickets_1',
#                                                                          'player_metric_1','inning1_balls_1','inning2_balls_1'])

In [ ]:
# common_entries = pd.DataFrame(common_entries)

In [ ]:
# common_entries['win amount'] = (common_entries['win amount_1'] + common_entries['win amount_2'])/2
# common_entries.drop(columns=['win amount_1','win amount_2'],inplace=True)
# common_entries['inning1_runs'] = (common_entries['inning1_runs_1'] + common_entries['inning1_runs_2'])/2
# common_entries.drop(columns=['inning1_runs_1','inning1_runs_2'],inplace=True)
# common_entries['inning2_runs'] = (common_entries['inning2_runs_1'] + common_entries['inning2_runs_2'])/2
# common_entries.drop(columns=['inning2_runs_1','inning2_runs_2'],inplace=True)
# common_entries['inning1_wickets'] = (common_entries['inning1_wickets_1'] + common_entries['inning1_wickets_2'])/2
# common_entries.drop(columns=['inning1_wickets_1','inning1_wickets_2'],inplace=True)
# common_entries['inning2_wickets'] = (common_entries['inning2_wickets_1'] + common_entries['inning2_wickets_2'])/2
# common_entries.drop(columns=['inning2_wickets_1','inning2_wickets_2'],inplace=True)
# common_entries['player_metric'] = (common_entries['player_metric_1'] + common_entries['player_metric_2'])/2
# common_entries.drop(columns=['player_metric_1','player_metric_2'],inplace=True)
# common_entries['inning1_balls'] = (common_entries['inning1_balls_1'] + common_entries['inning1_balls_2'])/2
# common_entries.drop(columns=['inning1_balls_1','inning1_balls_2'],inplace=True)
# common_entries['inning2_balls'] = (common_entries['inning2_balls_1'] + common_entries['inning2_balls_2'])/2
# common_entries.drop(columns=['inning2_balls_1','inning2_balls_2'],inplace=True)

In [ ]:
# common_entries.info()

In [ ]:
# left_only = left_only.rename(columns={'win amount_1': 'win amount'})
# left_only = left_only.rename(columns={'inning1_runs_1': 'inning1_runs'})
# left_only = left_only.rename(columns={'inning2_runs_1': 'inning2_runs'})
# left_only = left_only.rename(columns={'inning1_wickets_1': 'inning1_wickets'})
# left_only = left_only.rename(columns={'inning2_wickets_1': 'inning2_wickets'})
# left_only = left_only.rename(columns={'player_metric_1': 'player_metric'})
# left_only = left_only.rename(columns={'inning1_balls_1': 'inning1_balls'})
# left_only = left_only.rename(columns={'inning2_balls_1': 'inning2_balls'})

In [ ]:
# left_only = pd.DataFrame(left_only)
# left_only.info()

In [ ]:
# right_only = right_only.rename(columns={'win amount_2': 'win amount'})
# right_only = right_only.rename(columns={'inning1_runs_2': 'inning1_runs'})
# right_only = right_only.rename(columns={'inning2_runs_2': 'inning2_runs'})
# right_only = right_only.rename(columns={'inning1_wickets_2': 'inning1_wickets'})
# right_only = right_only.rename(columns={'inning2_wickets_2': 'inning2_wickets'})
# right_only = right_only.rename(columns={'player_metric_2': 'player_metric'})
# right_only = right_only.rename(columns={'inning1_balls_2': 'inning1_balls'})
# right_only = right_only.rename(columns={'inning2_balls_2': 'inning2_balls'})

In [ ]:
# right_only = pd.DataFrame(right_only)
# right_only.info()

In [ ]:
# match_data = pd.concat([common_entries, left_only, right_only] , ignore_index=True)

In [ ]:
# match_data.info()

In [ ]:
# match_data.head()

#preparing train data

In [ ]:
team_id_map = {team: id_ for team, id_ in zip(train_data['team1'], train_data['team1_id'])}
team_id_map.update({team: id_ for team, id_ in zip(train_data['team2'], train_data['team2_id'])})

# Replace 'toss winner' elements with their corresponding IDs
train_data['toss winner'] = train_data['toss winner'].map(team_id_map)

train_data['toss decision'] = train_data['toss decision'].replace({'field': 0, 'bat': 1})
####adding for classifier
train_data['winner_id'] = train_data.apply(lambda row: 0 if row['winner_id'] == row['team1_id'] else 1, axis=1)

columns_to_drop_train_data = ['team1','team2','winner','match_dt','venue','city','lighting','series_name',
                                    'season','ground_id']

# Drop columns that exist in the dataframe
train_data = train_data.drop(columns=[col for col in columns_to_drop_train_data if col in train_data.columns])

In [ ]:
train_data['processed_team1_roster_ids'] =train_data['team1_roster_ids'].apply(process_roster_ids)
train_data['processed_team2_roster_ids'] = train_data['team2_roster_ids'].apply(process_roster_ids)
train_data.drop(columns=['team1_roster_ids','team2_roster_ids'],inplace=True)

In [ ]:
train_data = train_data.explode('processed_team1_roster_ids')
train_data = train_data.explode('processed_team2_roster_ids')

# Reset the index to get a clean DataFrame
train_data = train_data.reset_index(drop=True)

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116980 entries, 0 to 116979
Data columns (total 13 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   match id                    116980 non-null  int64
 1   team1_id                    116980 non-null  int64
 2   team2_id                    116980 non-null  int64
 3   winner_id                   116980 non-null  int64
 4   toss winner                 116980 non-null  int64
 5   toss decision               116980 non-null  int64
 6   team_count_50runs_last15    116980 non-null  float64
 7   team_winp_last5             116980 non-null  float64
 8   team1only_avg_runs_last15   114439 non-null  float64
 9   team1_winp_team2_last15     116980 non-null  float64
 10  ground_avg_runs_last15      110499 non-null  float64
 11  processed_team1_roster_ids  116980 non-null  object
 12  processed_team2_roster_ids  116980 non-null  object
dtypes: float64(5), int64(6), object(2)
memory usage: 11.6+ MB

In [ ]:
train_data_ids1 = train_data[['match id','processed_team1_roster_ids']]
train_data_ids2 = train_data[['match id','processed_team2_roster_ids']]

In [ ]:
train_data_ids1 = train_data_ids1.merge(player_data , left_on ='processed_team1_roster_ids', right_on='player_id')
train_data_ids2 = train_data_ids2.merge(player_data , left_on ='processed_team2_roster_ids', right_on='player_id')

In [ ]:
# train_data_ids1 = train_data_ids1.merge(match_data , left_on ='processed_team1_roster_ids', right_on='player_id')
# train_data_ids2 = train_data_ids2.merge(match_data , left_on ='processed_team2_roster_ids', right_on='player_id')

In [ ]:
train_data_ids1.drop(columns=['processed_team1_roster_ids','player_id'],inplace=True)
train_data_ids2.drop(columns=['processed_team2_roster_ids','player_id'],inplace=True)

In [ ]:
train_data_ids1 = train_data_ids1.groupby('match id').mean().reset_index()
train_data_ids2 = train_data_ids2.groupby('match id').mean().reset_index()

In [ ]:
train_data_ids = train_data_ids1.merge(train_data_ids2, on='match id')

In [ ]:
train_data_ids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   match id               948 non-null    int64
 1   economy_x              948 non-null    float64
 2   bowling_strike_rate_x  575 non-null    float64
 3   bowling_average_x      575 non-null    float64
 4   boundary_rate_x        948 non-null    float64
 5   dot_ball_percent_x     948 non-null    float64
 6   extras_x               948 non-null    float64
 7   maiden_over_percent_x  948 non-null    float64
 8   strike_rate_x          948 non-null    float64
 9   batting_average_x      948 non-null    float64
 10  boundary_percent_x     948 non-null    float64
 11  overs_perform_x        948 non-null    float64
 12  economy_y              948 non-null    float64
 13  bowling_strike_rate_y  549 non-null    float64
 14  bowling_average_y      549 non-null    float64
 15  boundary_rate_y        948 non-null    float64
 16  dot_ball_percent_y     948 non-null    float64
 17  extras_y               948 non-null    float64
 18  maiden_over_percent_y  948 non-null    float64
 19  strike_rate_y          948 non-null    float64
 20  batting_average_y      948 non-null    float64
 21  boundary_percent_y     948 non-null    float64
 22  overs_perform_y        948 non-null    float64
dtypes: float64(22), int64(1)
memory usage: 170.5 KB

In [ ]:
train_data_ids['economy'] = (train_data_ids['economy_x'] + train_data_ids['economy_y'])/2
train_data_ids = train_data_ids.drop(columns=['economy_x','economy_y'])
train_data_ids['bowling_strike_rate'] = (train_data_ids['bowling_strike_rate_x'] + train_data_ids['bowling_strike_rate_y'])/2
train_data_ids = train_data_ids.drop(columns=['bowling_strike_rate_x','bowling_strike_rate_y'])
train_data_ids['bowling_average'] = (train_data_ids['bowling_average_x'] + train_data_ids['bowling_average_y'])/2
train_data_ids = train_data_ids.drop(columns=['bowling_average_x','bowling_average_y'])
train_data_ids['boundary_rate'] = (train_data_ids['boundary_rate_x'] + train_data_ids['boundary_rate_y'])/2
train_data_ids = train_data_ids.drop(columns=['boundary_rate_x','boundary_rate_y'])
train_data_ids['dot_ball_percent'] = (train_data_ids['dot_ball_percent_x'] + train_data_ids['dot_ball_percent_y'])/2
train_data_ids = train_data_ids.drop(columns=['dot_ball_percent_x','dot_ball_percent_y'])
train_data_ids['extras'] = (train_data_ids['extras_x'] + train_data_ids['extras_y'])/2
train_data_ids = train_data_ids.drop(columns=['extras_x','extras_y'])
train_data_ids['maiden_over_percent'] = (train_data_ids['maiden_over_percent_x'] + train_data_ids['maiden_over_percent_y'])/2
train_data_ids = train_data_ids.drop(columns=['maiden_over_percent_x','maiden_over_percent_y'])
train_data_ids['strike_rate'] = (train_data_ids['strike_rate_x'] + train_data_ids['strike_rate_y'])/2
train_data_ids = train_data_ids.drop(columns=['strike_rate_x','strike_rate_y'])
train_data_ids['batting_average'] = (train_data_ids['batting_average_x'] + train_data_ids['batting_average_y'])/2
train_data_ids = train_data_ids.drop(columns=['batting_average_x','batting_average_y'])
train_data_ids['boundary_percent'] = (train_data_ids['boundary_percent_x'] + train_data_ids['boundary_percent_y'])/2
train_data_ids = train_data_ids.drop(columns=['boundary_percent_x','boundary_percent_y'])
train_data_ids['overs_perform'] = (train_data_ids['overs_perform_x'] + train_data_ids['overs_perform_y'])/2
train_data_ids = train_data_ids.drop(columns=['overs_perform_x','overs_perform_y'])

In [ ]:
# train_data_ids['runs'] = (train_data_ids['runs_x'] + train_data_ids['runs_y'])/2
# train_data_ids.drop(columns=['runs_x','runs_y'],inplace=True)
# train_data_ids['economy'] = (train_data_ids['economy_x'] + train_data_ids['economy_y'])/2
# train_data_ids.drop(columns=['economy_x','economy_y'],inplace=True)
# train_data_ids['wicket_count']= (train_data_ids['wicket_count_x'] + train_data_ids['wicket_count_y'])/2
# train_data_ids.drop(columns=['wicket_count_x','wicket_count_y'],inplace=True)
# train_data_ids['balls_bowled']= (train_data_ids['balls_bowled_x'] + train_data_ids['balls_bowled_y'])/2
# train_data_ids.drop(columns=['balls_bowled_x','balls_bowled_y'],inplace=True)
# train_data_ids['Fours']= (train_data_ids['Fours_x'] + train_data_ids['Fours_y'])/2
# train_data_ids.drop(columns=['Fours_x','Fours_y'],inplace=True)
# train_data_ids['Sixes']= (train_data_ids['Sixes_x'] + train_data_ids['Sixes_y'])/2
# train_data_ids.drop(columns=['Sixes_x','Sixes_y'],inplace=True)
# train_data_ids['maiden']= (train_data_ids['maiden_x'] + train_data_ids['maiden_y'])/2
# train_data_ids.drop(columns=['maiden_x','maiden_y'],inplace=True)
# train_data_ids['wides']= (train_data_ids['wides_x'] + train_data_ids['wides_y'])/2
# train_data_ids.drop(columns=['wides_x','wides_y'],inplace=True)
# train_data_ids['noballs']= (train_data_ids['noballs_x'] + train_data_ids['noballs_y'])/2
# train_data_ids.drop(columns=['noballs_x','noballs_y'],inplace=True)
# train_data_ids['dots']= (train_data_ids['dots_x'] + train_data_ids['dots_y'])/2
# train_data_ids.drop(columns=['dots_x','dots_y'],inplace=True)
# train_data_ids['balls_faced']= (train_data_ids['balls_faced_x'] + train_data_ids['balls_faced_y'])/2
# train_data_ids.drop(columns=['balls_faced_x','balls_faced_y'],inplace=True)
# train_data_ids['over_faced_first']= (train_data_ids['over_faced_first_x'] + train_data_ids['over_faced_first_y'])/2
# train_data_ids.drop(columns=['over_faced_first_x','over_faced_first_y'],inplace=True)
# train_data_ids['strike_rate']= (train_data_ids['strike_rate_x'] + train_data_ids['strike_rate_y'])/2
# train_data_ids.drop(columns=['strike_rate_x','strike_rate_y'],inplace=True)

In [ ]:
# train_data_ids['win amount'] = (train_data_ids['win amount_x'] + train_data_ids['win amount_y'])/2
# train_data_ids.drop(columns=['win amount_x','win amount_y'],inplace=True)
# train_data_ids['inning1_runs'] = (train_data_ids['inning1_runs_x'] + train_data_ids['inning1_runs_y'])/2
# train_data_ids.drop(columns=['inning1_runs_x','inning1_runs_y'],inplace=True)
# train_data_ids['inning2_runs'] = (train_data_ids['inning2_runs_x'] + train_data_ids['inning2_runs_y'])/2
# train_data_ids.drop(columns=['inning2_runs_x','inning2_runs_y'],inplace=True)
# train_data_ids['inning1_wickets'] = (train_data_ids['inning1_wickets_x'] + train_data_ids['inning1_wickets_y'])/2
# train_data_ids.drop(columns=['inning1_wickets_x','inning1_wickets_y'],inplace=True)
# train_data_ids['inning2_wickets'] = (train_data_ids['inning2_wickets_x'] + train_data_ids['inning2_wickets_y'])/2
# train_data_ids.drop(columns=['inning2_wickets_x','inning2_wickets_y'],inplace=True)
# train_data_ids['inning1_balls']= (train_data_ids['inning1_balls_x'] + train_data_ids['inning1_balls_y'])/2
# train_data_ids.drop(columns=['inning1_balls_x','inning1_balls_y'],inplace=True)
# train_data_ids['inning2_balls']= (train_data_ids['inning2_balls_x'] + train_data_ids['inning2_balls_y'])/2
# train_data_ids.drop(columns=['inning2_balls_x','inning2_balls_y'],inplace=True)
# train_data_ids['player_metric'] = (train_data_ids['player_metric_x'] + train_data_ids['player_metric_y'])/2
# train_data_ids.drop(columns=['player_metric_x','player_metric_y'],inplace=True)

In [ ]:
train_data_ids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   match id             948 non-null    int64
 1   economy              948 non-null    float64
 2   bowling_strike_rate  332 non-null    float64
 3   bowling_average      332 non-null    float64
 4   boundary_rate        948 non-null    float64
 5   dot_ball_percent     948 non-null    float64
 6   extras               948 non-null    float64
 7   maiden_over_percent  948 non-null    float64
 8   strike_rate          948 non-null    float64
 9   batting_average      948 non-null    float64
 10  boundary_percent     948 non-null    float64
 11  overs_perform        948 non-null    float64
dtypes: float64(11), int64(1)
memory usage: 89.0 KB

In [ ]:
# train_data_ids2.info()

In [ ]:
# train_data_ids1.info()

In [ ]:
train_data.drop(columns=['processed_team1_roster_ids','processed_team2_roster_ids'],inplace=True)
train_data.drop_duplicates(inplace=True)

In [ ]:
train_data = train_data.merge(train_data_ids , on='match id')

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   match id                   948 non-null    int64
 1   team1_id                   948 non-null    int64
 2   team2_id                   948 non-null    int64
 3   winner_id                  948 non-null    int64
 4   toss winner                948 non-null    int64
 5   toss decision              948 non-null    int64
 6   team_count_50runs_last15   948 non-null    float64
 7   team_winp_last5            948 non-null    float64
 8   team1only_avg_runs_last15  927 non-null    float64
 9   team1_winp_team2_last15    948 non-null    float64
 10  ground_avg_runs_last15     895 non-null    float64
 11  economy                    948 non-null    float64
 12  bowling_strike_rate        332 non-null    float64
 13  bowling_average            332 non-null    float64
 14  boundary_rate              948 non-null    float64
 15  dot_ball_percent           948 non-null    float64
 16  extras                     948 non-null    float64
 17  maiden_over_percent        948 non-null    float64
 18  strike_rate                948 non-null    float64
 19  batting_average            948 non-null    float64
 20  boundary_percent           948 non-null    float64
 21  overs_perform              948 non-null    float64
dtypes: float64(16), int64(6)
memory usage: 163.1 KB

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
train_data['team1only_avg_runs_last15'] = imputer.fit_transform(train_data[['team1only_avg_runs_last15']])
train_data['ground_avg_runs_last15'] = imputer.fit_transform(train_data[['ground_avg_runs_last15']])
train_data = pd.DataFrame(train_data)

In [ ]:
# train_data_det = train_data[['match id','team1_id','team2_id','toss winner','toss decision']]
# train_data_set = train_data[['team1only_avg_runs_last15','ground_avg_runs_last15','player_metric','win amount',
#                            'inning1_runs','inning2_runs','inning1_wickets','inning2_wickets',
#                            'inning1_balls','inning2_balls','team1_winp_team2_last15','team_winp_last5'
#                            ,'team_count_50runs_last15']]
# train_winner = train_data[['winner_id']]

#preparing test data

In [ ]:
team_id_map = {team: id_ for team, id_ in zip(test_data['team1'], test_data['team1_id'])}
team_id_map.update({team: id_ for team, id_ in zip(test_data['team2'], test_data['team2_id'])})

# Replace 'toss winner' elements with their corresponding IDs
test_data['toss winner'] = test_data['toss winner'].map(team_id_map)

test_data['toss decision'] = test_data['toss decision'].replace({'field': 0, 'bat': 1})

columns_to_drop_test_data = ['team1','team2','match_dt','venue','city','lighting','series_name',
                                    'season','ground_id']

# Drop columns that exist in the dataframe
test_data = test_data.drop(columns=[col for col in columns_to_drop_test_data if col in test_data.columns])

In [ ]:
test_data['processed_team1_roster_ids'] =test_data['team1_roster_ids'].apply(process_roster_ids)
test_data['processed_team2_roster_ids'] = test_data['team2_roster_ids'].apply(process_roster_ids)
test_data.drop(columns=['team1_roster_ids','team2_roster_ids'],inplace=True)

In [ ]:
test_data = test_data.explode('processed_team1_roster_ids')
test_data = test_data.explode('processed_team2_roster_ids')

# Reset the index to get a clean DataFrame
test_data = test_data.reset_index(drop=True)

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33533 entries, 0 to 33532
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   match id                    33533 non-null  int64
 1   team1_id                    33533 non-null  int64
 2   team2_id                    33533 non-null  int64
 3   toss winner                 33533 non-null  int64
 4   toss decision               33533 non-null  int64
 5   team_count_50runs_last15    33533 non-null  float64
 6   team_winp_last5             33533 non-null  float64
 7   team1only_avg_runs_last15   32686 non-null  float64
 8   team1_winp_team2_last15     33533 non-null  float64
 9   ground_avg_runs_last15      32323 non-null  float64
 10  processed_team1_roster_ids  33533 non-null  object
 11  processed_team2_roster_ids  33533 non-null  object
dtypes: float64(5), int64(5), object(2)
memory usage: 3.1+ MB

In [ ]:
test_data_ids1 = test_data[['match id','processed_team1_roster_ids']]
test_data_ids2 = test_data[['match id','processed_team2_roster_ids']]
test_data_ids1 = test_data_ids1.merge(player_data , left_on ='processed_team1_roster_ids', right_on='player_id')
test_data_ids2 = test_data_ids2.merge(player_data , left_on ='processed_team2_roster_ids', right_on='player_id')
test_data_ids1.drop(columns=['processed_team1_roster_ids','player_id'],inplace=True)
test_data_ids2.drop(columns=['processed_team2_roster_ids','player_id'],inplace=True)
test_data_ids1 = test_data_ids1.groupby('match id').mean().reset_index()
test_data_ids2 = test_data_ids2.groupby('match id').mean().reset_index()

In [ ]:
test_data_ids = test_data_ids1.merge(test_data_ids2, on='match id')

In [ ]:
test_data_ids['economy'] = (test_data_ids['economy_x'] + test_data_ids['economy_y'])/2
test_data_ids = test_data_ids.drop(columns=['economy_x','economy_y'])
test_data_ids['bowling_strike_rate'] = (test_data_ids['bowling_strike_rate_x'] + test_data_ids['bowling_strike_rate_y'])/2
test_data_ids = test_data_ids.drop(columns=['bowling_strike_rate_x','bowling_strike_rate_y'])
test_data_ids['bowling_average'] = (test_data_ids['bowling_average_x'] + test_data_ids['bowling_average_y'])/2
test_data_ids = test_data_ids.drop(columns=['bowling_average_x','bowling_average_y'])
test_data_ids['boundary_rate'] = (test_data_ids['boundary_rate_x'] + test_data_ids['boundary_rate_y'])/2
test_data_ids = test_data_ids.drop(columns=['boundary_rate_x','boundary_rate_y'])
test_data_ids['dot_ball_percent'] = (test_data_ids['dot_ball_percent_x'] + test_data_ids['dot_ball_percent_y'])/2
test_data_ids = test_data_ids.drop(columns=['dot_ball_percent_x','dot_ball_percent_y'])
test_data_ids['extras'] = (test_data_ids['extras_x'] + test_data_ids['extras_y'])/2
test_data_ids = test_data_ids.drop(columns=['extras_x','extras_y'])
test_data_ids['maiden_over_percent'] = (test_data_ids['maiden_over_percent_x'] + test_data_ids['maiden_over_percent_y'])/2
test_data_ids = test_data_ids.drop(columns=['maiden_over_percent_x','maiden_over_percent_y'])
test_data_ids['strike_rate'] = (test_data_ids['strike_rate_x'] + test_data_ids['strike_rate_y'])/2
test_data_ids = test_data_ids.drop(columns=['strike_rate_x','strike_rate_y'])
test_data_ids['batting_average'] = (test_data_ids['batting_average_x'] + test_data_ids['batting_average_y'])/2
test_data_ids = test_data_ids.drop(columns=['batting_average_x','batting_average_y'])
test_data_ids['boundary_percent'] = (test_data_ids['boundary_percent_x'] + test_data_ids['boundary_percent_y'])/2
test_data_ids = test_data_ids.drop(columns=['boundary_percent_x','boundary_percent_y'])
test_data_ids['overs_perform'] = (test_data_ids['overs_perform_x'] + test_data_ids['overs_perform_y'])/2
test_data_ids = test_data_ids.drop(columns=['overs_perform_x','overs_perform_y'])

In [ ]:
# test_data_ids['runs'] = (test_data_ids['runs_x'] + test_data_ids['runs_y'])/2
# test_data_ids.drop(columns=['runs_x', 'runs_y'], inplace=True)

# test_data_ids['economy'] = (test_data_ids['economy_x'] + test_data_ids['economy_y'])/2
# test_data_ids.drop(columns=['economy_x', 'economy_y'], inplace=True)

# test_data_ids['wicket_count'] = (test_data_ids['wicket_count_x'] + test_data_ids['wicket_count_y'])/2
# test_data_ids.drop(columns=['wicket_count_x', 'wicket_count_y'], inplace=True)

# test_data_ids['balls_bowled'] = (test_data_ids['balls_bowled_x'] + test_data_ids['balls_bowled_y'])/2
# test_data_ids.drop(columns=['balls_bowled_x', 'balls_bowled_y'], inplace=True)

# test_data_ids['Fours'] = (test_data_ids['Fours_x'] + test_data_ids['Fours_y'])/2
# test_data_ids.drop(columns=['Fours_x', 'Fours_y'], inplace=True)

# test_data_ids['Sixes'] = (test_data_ids['Sixes_x'] + test_data_ids['Sixes_y'])/2
# test_data_ids.drop(columns=['Sixes_x', 'Sixes_y'], inplace=True)

# test_data_ids['maiden'] = (test_data_ids['maiden_x'] + test_data_ids['maiden_y'])/2
# test_data_ids.drop(columns=['maiden_x', 'maiden_y'], inplace=True)

# test_data_ids['wides'] = (test_data_ids['wides_x'] + test_data_ids['wides_y'])/2
# test_data_ids.drop(columns=['wides_x', 'wides_y'], inplace=True)

# test_data_ids['noballs'] = (test_data_ids['noballs_x'] + test_data_ids['noballs_y'])/2
# test_data_ids.drop(columns=['noballs_x', 'noballs_y'], inplace=True)

# test_data_ids['dots'] = (test_data_ids['dots_x'] + test_data_ids['dots_y'])/2
# test_data_ids.drop(columns=['dots_x', 'dots_y'], inplace=True)

# test_data_ids['balls_faced'] = (test_data_ids['balls_faced_x'] + test_data_ids['balls_faced_y'])/2
# test_data_ids.drop(columns=['balls_faced_x', 'balls_faced_y'], inplace=True)

# test_data_ids['over_faced_first'] = (test_data_ids['over_faced_first_x'] + test_data_ids['over_faced_first_y'])/2
# test_data_ids.drop(columns=['over_faced_first_x', 'over_faced_first_y'], inplace=True)

# test_data_ids['strike_rate'] = (test_data_ids['strike_rate_x'] + test_data_ids['strike_rate_y'])/2
# test_data_ids.drop(columns=['strike_rate_x', 'strike_rate_y'], inplace=True)

In [ ]:
# test_data_ids['win amount'] = (test_data_ids['win amount_x'] + test_data_ids['win amount_y'])/2
# test_data_ids.drop(columns=['win amount_x','win amount_y'],inplace=True)
# test_data_ids['inning1_runs'] = (test_data_ids['inning1_runs_x'] + test_data_ids['inning1_runs_y'])/2
# test_data_ids.drop(columns=['inning1_runs_x','inning1_runs_y'],inplace=True)
# test_data_ids['inning2_runs'] = (test_data_ids['inning2_runs_x'] + test_data_ids['inning2_runs_y'])/2
# test_data_ids.drop(columns=['inning2_runs_x','inning2_runs_y'],inplace=True)
# test_data_ids['inning1_wickets'] = (test_data_ids['inning1_wickets_x'] + test_data_ids['inning1_wickets_y'])/2
# test_data_ids.drop(columns=['inning1_wickets_x','inning1_wickets_y'],inplace=True)
# test_data_ids['inning2_wickets'] = (test_data_ids['inning2_wickets_x'] + test_data_ids['inning2_wickets_y'])/2
# test_data_ids.drop(columns=['inning2_wickets_x','inning2_wickets_y'],inplace=True)
# test_data_ids['inning1_balls']= (test_data_ids['inning1_balls_x'] + test_data_ids['inning1_balls_y'])/2
# test_data_ids.drop(columns=['inning1_balls_x','inning1_balls_y'],inplace=True)
# test_data_ids['inning2_balls']= (test_data_ids['inning2_balls_x'] + test_data_ids['inning2_balls_y'])/2
# test_data_ids.drop(columns=['inning2_balls_x','inning2_balls_y'],inplace=True)
# test_data_ids['player_metric'] = (test_data_ids['player_metric_x'] + test_data_ids['player_metric_y'])/2
# test_data_ids.drop(columns=['player_metric_x','player_metric_y'],inplace=True)

In [ ]:
# test_data_ids.info()

In [ ]:
test_data.drop(columns=['processed_team1_roster_ids','processed_team2_roster_ids'],inplace=True)

In [ ]:

test_data.drop_duplicates(inplace=True)

In [ ]:
test_data = test_data.merge(test_data_ids , on='match id')

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   match id                   270 non-null    int64
 1   team1_id                   270 non-null    int64
 2   team2_id                   270 non-null    int64
 3   toss winner                270 non-null    int64
 4   toss decision              270 non-null    int64
 5   team_count_50runs_last15   270 non-null    float64
 6   team_winp_last5            270 non-null    float64
 7   team1only_avg_runs_last15  264 non-null    float64
 8   team1_winp_team2_last15    270 non-null    float64
 9   ground_avg_runs_last15     260 non-null    float64
 10  economy                    270 non-null    float64
 11  bowling_strike_rate        85 non-null     float64
 12  bowling_average            85 non-null     float64
 13  boundary_rate              270 non-null    float64
 14  dot_ball_percent           270 non-null    float64
 15  extras                     270 non-null    float64
 16  maiden_over_percent        270 non-null    float64
 17  strike_rate                270 non-null    float64
 18  batting_average            270 non-null    float64
 19  boundary_percent           270 non-null    float64
 20  overs_perform              270 non-null    float64
dtypes: float64(16), int64(5)
memory usage: 44.4 KB

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
test_data['team1only_avg_runs_last15'] = imputer.fit_transform(test_data[['team1only_avg_runs_last15']])
test_data['ground_avg_runs_last15'] = imputer.fit_transform(test_data[['ground_avg_runs_last15']])
test_data = pd.DataFrame(test_data)

In [ ]:
# test_data_det = test_data[['match id','team1_id','team2_id','toss winner','toss decision']]
# test_data_set = test_data[['team1only_avg_runs_last15','ground_avg_runs_last15','player_metric','win amount',
#                            'inning1_runs','inning2_runs','inning1_wickets','inning2_wickets',
#                            'inning1_balls','inning2_balls','team1_winp_team2_last15','team_winp_last5'
#                            ,'team_count_50runs_last15']]

#Time to train the model:

#using classifier

In [ ]:
# train_class = train_data[['match id', 'team1_id', 'team2_id', 'toss winner', 'toss decision', 'team_count_50runs_last15',
#                           'team_winp_last5', 'team1only_avg_runs_last15', 'team1_winp_team2_last15', 'ground_avg_runs_last15',
#                           'runs', 'economy', 'wicket_count', 'balls_bowled', 'Fours', 'Sixes', 'maiden', 'wides', 'noballs', 'dots',
#                           'balls_faced', 'over_faced_first', 'strike_rate']]
# train_class_winner = train_data[['winner_id']]

In [ ]:
train_class = train_data[[
    'team_count_50runs_last15', 'team_winp_last5',
    'team1only_avg_runs_last15', 'team1_winp_team2_last15',
    'ground_avg_runs_last15', 'economy', 'bowling_strike_rate',
    'bowling_average', 'boundary_rate', 'dot_ball_percent', 'extras',
    'maiden_over_percent', 'strike_rate', 'batting_average',
    'boundary_percent', 'overs_perform']]
train_class_winner = train_data[['winner_id']]

In [ ]:
# train_corr = train_data[['match id','team1_id','team2_id','toss winner','toss decision','team1only_avg_runs_last15','ground_avg_runs_last15','player_metric','win amount',
#                            'inning1_runs','inning2_runs','inning1_wickets','inning2_wickets',
#                            'inning1_balls','inning2_balls','team1_winp_team2_last15','team_winp_last5'
#                            ,'team_count_50runs_last15','winner_id']]

In [ ]:
# corr_matrix = train_corr.corr()
# corr_matrix['winner_id'].sort_values(ascending=False)

In [ ]:
from sklearn.model_selection import train_test_split
X_train_class, X_test_class, y_train_class, y_test_class = train_test_split(train_class,train_class_winner, test_size=0.2, random_state=42)

In [ ]:
from xgboost import XGBClassifier
xgb_class_model = XGBClassifier()
xgb_class_model.fit(X_train_class, y_train_class)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [ ]:
labels_predicted_class = xgb_class_model.predict(X_test_class)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
xgb_class_accuracy = accuracy_score(y_test_class, labels_predicted_class)

In [ ]:
xgb_class_accuracy

0.45789473684210524

#FINAL TESTING:

In [ ]:
xgb_finalclass_model = XGBClassifier()
xgb_finalclass_model.fit(train_class, train_class_winner)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

```testing data```

In [ ]:
test_data_set = test_data[[
    'team_count_50runs_last15', 'team_winp_last5',
    'team1only_avg_runs_last15', 'team1_winp_team2_last15',
    'ground_avg_runs_last15', 'economy', 'bowling_strike_rate',
    'bowling_average', 'boundary_rate', 'dot_ball_percent', 'extras',
    'maiden_over_percent', 'strike_rate', 'batting_average',
    'boundary_percent', 'overs_perform']]

In [ ]:
pred_winner = xgb_finalclass_model.predict(test_data_set)
pred_winner = pd.DataFrame(pred_winner)

In [ ]:
pred_winner.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       270 non-null    int64
dtypes: int64(1)
memory usage: 2.2 KB

In [ ]:
train_class.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   team_count_50runs_last15   948 non-null    float64
 1   team_winp_last5            948 non-null    float64
 2   team1only_avg_runs_last15  948 non-null    float64
 3   team1_winp_team2_last15    948 non-null    float64
 4   ground_avg_runs_last15     948 non-null    float64
 5   economy                    948 non-null    float64
 6   bowling_strike_rate        332 non-null    float64
 7   bowling_average            332 non-null    float64
 8   boundary_rate              948 non-null    float64
 9   dot_ball_percent           948 non-null    float64
 10  extras                     948 non-null    float64
 11  maiden_over_percent        948 non-null    float64
 12  strike_rate                948 non-null    float64
 13  batting_average            948 non-null    float64
 14  boundary_percent           948 non-null    float64
 15  overs_perform              948 non-null    float64
dtypes: float64(16)
memory usage: 118.6 KB

In [ ]:
train_class_winner.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   winner_id  948 non-null    int64
dtypes: int64(1)
memory usage: 7.5 KB

In [ ]:
test_data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   team_count_50runs_last15   270 non-null    float64
 1   team_winp_last5            270 non-null    float64
 2   team1only_avg_runs_last15  270 non-null    float64
 3   team1_winp_team2_last15    270 non-null    float64
 4   ground_avg_runs_last15     270 non-null    float64
 5   economy                    270 non-null    float64
 6   bowling_strike_rate        85 non-null     float64
 7   bowling_average            85 non-null     float64
 8   boundary_rate              270 non-null    float64
 9   dot_ball_percent           270 non-null    float64
 10  extras                     270 non-null    float64
 11  maiden_over_percent        270 non-null    float64
 12  strike_rate                270 non-null    float64
 13  batting_average            270 non-null    float64
 14  boundary_percent           270 non-null    float64
 15  overs_perform              270 non-null    float64
dtypes: float64(16)
memory usage: 33.9 KB

In [ ]:
sub_data = test_data[['match id','team1_id','team2_id','toss winner','toss decision']]

In [ ]:
sub_data['pred_winner']= pred_winner

<ipython-input-454-dffe45b18bb0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_data['pred_winner']= pred_winner

In [ ]:
sub_data.head()

   match id  team1_id  team2_id  toss winner  toss decision  pred_winner
0   9250275     28594        90           90              0            1
1   9262189     36084     36098        36098              0            1
2   9128776     30428     48334        30428              1            0
3   9586919     36098     36112        36112              0            0
4   9128538     30414     48341        48341              0            0

In [ ]:
sub_data['winner_id'] = sub_data.apply(lambda row: row['team1_id'] if row['pred_winner'] == 0 else row['team2_id'], axis=1)

<ipython-input-456-a9a5ab42c329>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_data['winner_id'] = sub_data.apply(lambda row: row['team1_id'] if row['pred_winner'] == 0 else row['team2_id'], axis=1)

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   match id                   948 non-null    int64
 1   team1_id                   948 non-null    int64
 2   team2_id                   948 non-null    int64
 3   winner_id                  948 non-null    int64
 4   toss winner                948 non-null    int64
 5   toss decision              948 non-null    int64
 6   team_count_50runs_last15   948 non-null    float64
 7   team_winp_last5            948 non-null    float64
 8   team1only_avg_runs_last15  948 non-null    float64
 9   team1_winp_team2_last15    948 non-null    float64
 10  ground_avg_runs_last15     948 non-null    float64
 11  economy                    948 non-null    float64
 12  bowling_strike_rate        332 non-null    float64
 13  bowling_average            332 non-null    float64
 14  boundary_rate              948 non-null    float64
 15  dot_ball_percent           948 non-null    float64
 16  extras                     948 non-null    float64
 17  maiden_over_percent        948 non-null    float64
 18  strike_rate                948 non-null    float64
 19  batting_average            948 non-null    float64
 20  boundary_percent           948 non-null    float64
 21  overs_perform              948 non-null    float64
dtypes: float64(16), int64(6)
memory usage: 163.1 KB

In [ ]:
train_data['winner'] = train_data.apply(lambda row: row['team1_id'] if row['winner_id'] == 0 else row['team2_id'], axis=1)

In [ ]:
train_data = train_data.drop(columns=['winner_id'])

In [ ]:
train_data.rename(columns={'winner': 'winner_id'}, inplace=True)

In [ ]:
sub_data.head()

,match id,team1_id,team2_id,toss winner,toss decision,pred_winner,winner_id
0,9250275,28594,90,90,0,1,90
1,9262189,36084,36098,36098,0,1,36098
2,9128776,30428,48334,30428,1,0,30428
3,9586919,36098,36112,36112,0,0,36098
4,9128538,30414,48341,48341,0,0,30414

In [ ]:
sub_data.drop(columns=['team1_id','team2_id','pred_winner', 'toss winner','toss decision'],inplace=True)

<ipython-input-462-61c46ed98fc6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_data.drop(columns=['team1_id','team2_id','pred_winner', 'toss winner','toss decision'],inplace=True)

In [ ]:
sub_data.head()

   match id  winner_id
0   9250275         90
1   9262189      36098
2   9128776      30428
3   9586919      36098
4   9128538      30414

In [ ]:
# sub_data[['toss winner']] = test_data[['toss winner']]
# sub_data[['toss decision']] = test_data[['toss decision']]

In [ ]:
sub_data.head()

   match id  winner_id
0   9250275         90
1   9262189      36098
2   9128776      30428
3   9586919      36098
4   9128538      30414

In [ ]:
# def calculate_pred_winner_score(row):
#     if row['winner_id'] == row['toss winner']:
#         if row['toss decision'] == 0:
#             return row['inning2_runs']
#         elif row['toss decision'] == 1:
#             return row['inning1_runs']
#     else:
#         if row['toss decision'] == 0:
#             return row['inning1_runs']
#         elif row['toss decision'] == 1:
#             return row['inning2_runs']

# sub_data['pred_winner_score'] = sub_data.apply(calculate_pred_winner_score, axis=1)

In [ ]:
# sub_data.head()

In [ ]:
# sub_data.drop(columns=['inning1_runs','inning2_runs','toss winner','toss decision'],inplace=True)

In [ ]:
sub_data.head()

   match id  winner_id
0   9250275         90
1   9262189      36098
2   9128776      30428
3   9586919      36098
4   9128538      30414

In [ ]:
sub_data.to_csv("/content/drive/MyDrive/AMEX/sub4.csv", index=False)

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   match id                   270 non-null    int64
 1   team1_id                   270 non-null    int64
 2   team2_id                   270 non-null    int64
 3   toss winner                270 non-null    int64
 4   toss decision              270 non-null    int64
 5   team_count_50runs_last15   270 non-null    float64
 6   team_winp_last5            270 non-null    float64
 7   team1only_avg_runs_last15  270 non-null    float64
 8   team1_winp_team2_last15    270 non-null    float64
 9   ground_avg_runs_last15     270 non-null    float64
 10  economy                    270 non-null    float64
 11  bowling_strike_rate        85 non-null     float64
 12  bowling_average            85 non-null     float64
 13  boundary_rate              270 non-null    float64
 14  dot_ball_percent           270 non-null    float64
 15  extras                     270 non-null    float64
 16  maiden_over_percent        270 non-null    float64
 17  strike_rate                270 non-null    float64
 18  batting_average            270 non-null    float64
 19  boundary_percent           270 non-null    float64
 20  overs_perform              270 non-null    float64
dtypes: float64(16), int64(5)
memory usage: 44.4 KB

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   match id                   948 non-null    int64
 1   team1_id                   948 non-null    int64
 2   team2_id                   948 non-null    int64
 3   toss winner                948 non-null    int64
 4   toss decision              948 non-null    int64
 5   team_count_50runs_last15   948 non-null    float64
 6   team_winp_last5            948 non-null    float64
 7   team1only_avg_runs_last15  948 non-null    float64
 8   team1_winp_team2_last15    948 non-null    float64
 9   ground_avg_runs_last15     948 non-null    float64
 10  economy                    948 non-null    float64
 11  bowling_strike_rate        332 non-null    float64
 12  bowling_average            332 non-null    float64
 13  boundary_rate              948 non-null    float64
 14  dot_ball_percent           948 non-null    float64
 15  extras                     948 non-null    float64
 16  maiden_over_percent        948 non-null    float64
 17  strike_rate                948 non-null    float64
 18  batting_average            948 non-null    float64
 19  boundary_percent           948 non-null    float64
 20  overs_perform              948 non-null    float64
 21  winner_id                  948 non-null    float64
dtypes: float64(17), int64(5)
memory usage: 163.1 KB

In [ ]:
# train_data.to_csv("/content/drive/MyDrive/AMEX/sub3_train.csv", index=False)
# test_data.to_csv("/content/drive/MyDrive/AMEX/sub3_test.csv", index=False)

In [ ]:
# train_data['pred_winner_score'] = train_data.apply(calculate_pred_winner_score, axis=1)

In [ ]:
# train_data.head()

In [ ]:
# train_data.to_csv("/content/drive/MyDrive/AMEX/sub1_train2.csv", index=False)

In [ ]:
# sub_data['winner_id'] = sub_data.apply(lambda row: row['team1_id'] if row['pred_winner'] == 0 else row['team2_id'], axis=1)

In [ ]:
train_data.head()

,match id,team1_id,team2_id,toss winner,toss decision,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,...,bowling_average,boundary_rate,dot_ball_percent,extras,maiden_over_percent,strike_rate,batting_average,boundary_percent,overs_perform,winner_id
0,9331181,11283,12634,12634,0,1.666667,0.672131,139.000000,100.0,157.178571,...,12.654624,0.064653,0.171577,0.279610,0.001744,59.557181,0.630622,0.136306,2.716410,12634.0
1,8797060,20,41,41,0,1.285714,1.952381,156.000000,50.0,103.500000,...,9.392395,0.062767,0.138308,0.310351,0.000721,71.766588,0.801074,0.240494,2.388746,20.0
2,9433269,10576,8987,8987,0,0.857143,0.672131,173.266667,0.0,154.333333,...,NaN,0.067509,0.115170,0.213137,0.000441,65.840187,0.749559,0.197086,2.467493,10576.0
3,9587073,36084,36070,36084,1,2.166667,1.975610,164.266667,50.0,144.250000,...,9.996801,0.074375,0.169412,0.400713,0.000497,66.868228,0.745632,0.209852,1.965219,36084.0
4,9516457,30407,48341,48341,0,0.818182,1.327869,164.666667,0.0,189.000000,...,10.053697,0.061708,0.149664,0.255611,0.000714,67.046850,0.749450,0.198023,2.750786,48341.0

In [ ]:
# train_data.drop(columns=['pred_winner_score'],inplace=True)

In [ ]:
# train_data['winner'] = train_data.apply(lambda row: row['team1_id'] if row['winner_id'] == 0 else row['team2_id'], axis=1)

In [ ]:
# train_data.drop(columns=['winner_id'],inplace=True)

In [ ]:
# train_data.rename(columns={'winner': 'winner_id'}, inplace=True)

In [ ]:
# train_data['pred_winner_score'] = train_data.apply(calculate_pred_winner_score, axis=1)

In [ ]:
# train_data.to_csv("/content/drive/MyDrive/AMEX/sub1_train3.csv", index=False)

In [ ]:
# merged = pd.merge(full_data, test_data, on='match id', how='left', indicator=True)
# match_id_only_in_full_data = merged[merged['_merge'] == 'left_only']['match id']

# print("Match IDs only in full_data and not in test_data:")
# print(match_id_only_in_full_data.tolist())

In [ ]:
# match_id_to_find = 9327555
# result = full_data[full_data['match id'] == match_id_to_find]

# result = pd.DataFrame(result)

In [ ]:
# result

In [ ]:
# match id	team1_id	team2_id	winner_id	toss winner	toss decision	team_count_50runs_last15
# team_winp_last5	team1only_avg_runs_last15	team1_winp_team2_last15	ground_avg_runs_last15
# win amount	inning1_runs	inning2_runs	inning1_wickets	inning2_wickets	inning1_balls
# inning2_balls	player_metric

In [ ]:
# team_id_map = {team: id_ for team, id_ in zip(result['team1'], result['team1_id'])}
# team_id_map.update({team: id_ for team, id_ in zip(result['team2'], result['team2_id'])})

# # Replace 'toss winner' elements with their corresponding IDs
# result['toss winner'] = result['toss winner'].map(team_id_map)

# result['toss decision'] = result['toss decision'].replace({'field': 0, 'bat': 1})

# result = result.drop(columns=['team1','team2','venue','city','match_dt','lighting','series_name','season','ground_id'])

In [ ]:
# result['processed_team1_roster_ids'] =result['team1_roster_ids'].apply(process_roster_ids)
# result['processed_team2_roster_ids'] = result['team2_roster_ids'].apply(process_roster_ids)
# result.drop(columns=['team1_roster_ids','team2_roster_ids'],inplace=True)

In [ ]:
# result = result.explode('processed_team1_roster_ids')
# result = result.explode('processed_team2_roster_ids')

# # Reset the index to get a clean DataFrame
# result = result.reset_index(drop=True)

In [ ]:
# result_ids1 = result[['match id','processed_team1_roster_ids']]
# result_ids2 = result[['match id','processed_team2_roster_ids']]
# test_data_ids1 = result_ids1.merge(match_data , left_on ='processed_team1_roster_ids', right_on='player_id')
# result_ids2 = result_ids2.merge(match_data , left_on ='processed_team2_roster_ids', right_on='player_id')
# result_ids1.drop(columns=['processed_team1_roster_ids','player_id'],inplace=True)
# result_ids2.drop(columns=['processed_team2_roster_ids','player_id'],inplace=True)
# result_ids1 = result_ids1.groupby('match id').mean().reset_index()
# result_ids2 = result_ids2.groupby('match id').mean().reset_index()

In [ ]:
# test_data_ids = test_data_ids1.merge(test_data_ids2, on='match id')

In [ ]:
# test_data_ids['win amount'] = (test_data_ids['win amount_x'] + test_data_ids['win amount_y'])/2
# test_data_ids.drop(columns=['win amount_x','win amount_y'],inplace=True)
# test_data_ids['inning1_runs'] = (test_data_ids['inning1_runs_x'] + test_data_ids['inning1_runs_y'])/2
# test_data_ids.drop(columns=['inning1_runs_x','inning1_runs_y'],inplace=True)
# test_data_ids['inning2_runs'] = (test_data_ids['inning2_runs_x'] + test_data_ids['inning2_runs_y'])/2
# test_data_ids.drop(columns=['inning2_runs_x','inning2_runs_y'],inplace=True)
# test_data_ids['inning1_wickets'] = (test_data_ids['inning1_wickets_x'] + test_data_ids['inning1_wickets_y'])/2
# test_data_ids.drop(columns=['inning1_wickets_x','inning1_wickets_y'],inplace=True)
# test_data_ids['inning2_wickets'] = (test_data_ids['inning2_wickets_x'] + test_data_ids['inning2_wickets_y'])/2
# test_data_ids.drop(columns=['inning2_wickets_x','inning2_wickets_y'],inplace=True)
# test_data_ids['inning1_balls']= (test_data_ids['inning1_balls_x'] + test_data_ids['inning1_balls_y'])/2
# test_data_ids.drop(columns=['inning1_balls_x','inning1_balls_y'],inplace=True)
# test_data_ids['inning2_balls']= (test_data_ids['inning2_balls_x'] + test_data_ids['inning2_balls_y'])/2
# test_data_ids.drop(columns=['inning2_balls_x','inning2_balls_y'],inplace=True)
# test_data_ids['player_metric'] = (test_data_ids['player_metric_x'] + test_data_ids['player_metric_y'])/2
# test_data_ids.drop(columns=['player_metric_x','player_metric_y'],inplace=True)

In [ ]:
# test_data.drop(columns=['processed_team1_roster_ids','processed_team2_roster_ids'],inplace=True)

In [ ]:
# test_data.drop_duplicates(inplace=True)

In [ ]:
# test_data = test_data.merge(test_data_ids , on='match id')

In [ ]:
# from sklearn.impute import SimpleImputer
# imputer = SimpleImputer(strategy='median')
# test_data['team1only_avg_runs_last15'] = imputer.fit_transform(test_data[['team1only_avg_runs_last15']])
# test_data['ground_avg_runs_last15'] = imputer.fit_transform(test_data[['ground_avg_runs_last15']])
# test_data['player_metric'] = imputer.fit_transform(test_data[['player_metric']])
# test_data = pd.DataFrame(test_data)

In [ ]:
# test_data_det = test_data[['match id','team1_id','team2_id','toss winner','toss decision']]
# test_data_set = test_data[['team1only_avg_runs_last15','ground_avg_runs_last15','player_metric','win amount',
#                            'inning1_runs','inning2_runs','inning1_wickets','inning2_wickets',
#                            'inning1_balls','inning2_balls','team1_winp_team2_last15','team_winp_last5'
#                            ,'team_count_50runs_last15']]

In [ ]:
# test_data_set.info()

In [ ]:
from sklearn.metrics import log_loss
xgb_finalclass_model.fit(train_class, train_class_winner)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [ ]:
# probabilities = xgb_finalclass_model.predict_proba(test_data_set)
# win_pred_scores = probabilities.max(axis=1)

In [ ]:
# win_pred_scores = pd.DataFrame(win_pred_scores)

In [ ]:
# win_pred_scores

In [ ]:
# win_pred_scores.to_csv("/content/drive/MyDrive/AMEX/win_pred_scores_test3.csv", index=False)

In [ ]:
probabilities = xgb_finalclass_model.predict_proba(train_class)
win_pred_scores = probabilities.max(axis=1)

In [ ]:
win_pred_scores = pd.DataFrame(win_pred_scores)

In [ ]:
# win_pred_scores.describe()

In [ ]:
# win_pred_scores.to_csv("/content/drive/MyDrive/AMEX/win_pred_scores_train3.csv", index=False)

In [ ]:
# sub_data.to_csv("/content/drive/MyDrive/AMEX/sub2.csv", index=False)

In [ ]:
# train_class.to_csv("/content/drive/MyDrive/AMEX/sub2_train.csv", index=False)

In [ ]:
# train_data.to_csv("/content/drive/MyDrive/AMEX/sub3_train_data.csv", index=False)

In [ ]:
# test_data.to_csv("/content/drive/MyDrive/AMEX/sub3_test.csv", index=False)

In [ ]:
train_data = pd.DataFrame(train_data)

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   match id                   948 non-null    int64
 1   team1_id                   948 non-null    int64
 2   team2_id                   948 non-null    int64
 3   toss winner                948 non-null    int64
 4   toss decision              948 non-null    int64
 5   team_count_50runs_last15   948 non-null    float64
 6   team_winp_last5            948 non-null    float64
 7   team1only_avg_runs_last15  948 non-null    float64
 8   team1_winp_team2_last15    948 non-null    float64
 9   ground_avg_runs_last15     948 non-null    float64
 10  economy                    948 non-null    float64
 11  bowling_strike_rate        332 non-null    float64
 12  bowling_average            332 non-null    float64
 13  boundary_rate              948 non-null    float64
 14  dot_ball_percent           948 non-null    float64
 15  extras                     948 non-null    float64
 16  maiden_over_percent        948 non-null    float64
 17  strike_rate                948 non-null    float64
 18  batting_average            948 non-null    float64
 19  boundary_percent           948 non-null    float64
 20  overs_perform              948 non-null    float64
 21  winner_id                  948 non-null    float64
dtypes: float64(17), int64(5)
memory usage: 163.1 KB

In [ ]:
# train_data.drop(columns=['winner_id'])

In [ ]:
corr_matrix = train_data.corr()

In [ ]:
corr_matrix['winner_id']

match id                     0.009817
team1_id                     0.968495
team2_id                     0.979063
toss winner                  0.967666
toss decision               -0.052883
team_count_50runs_last15    -0.102063
team_winp_last5             -0.027331
team1only_avg_runs_last15   -0.001282
team1_winp_team2_last15      0.002836
ground_avg_runs_last15       0.085856
economy                     -0.051764
bowling_strike_rate         -0.114970
bowling_average             -0.076724
boundary_rate               -0.040651
dot_ball_percent            -0.034077
extras                       0.127310
maiden_over_percent          0.003254
strike_rate                  0.122924
batting_average              0.167891
boundary_percent             0.148074
overs_perform                0.039668
winner_id                    1.000000
Name: winner_id, dtype: float64

In [ ]:
train_class['winner_id'] = train_class_winner['winner_id']
corr_train = train_class.corr()

In [ ]:
corr_train['winner_id']

team_count_50runs_last15    -0.110761
team_winp_last5             -0.011712
team1only_avg_runs_last15   -0.046744
team1_winp_team2_last15     -0.055788
ground_avg_runs_last15      -0.011307
economy                     -0.005814
bowling_strike_rate          0.120021
bowling_average              0.102996
boundary_rate                0.016630
dot_ball_percent             0.019317
extras                      -0.050558
maiden_over_percent          0.017292
strike_rate                 -0.029699
batting_average             -0.050361
boundary_percent            -0.087792
overs_perform               -0.023806
winner_id                    1.000000
Name: winner_id, dtype: float64